<a href="https://colab.research.google.com/github/fardinpratama/Project-with-python/blob/master/Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scraping data Jumlah penduduk menurut Provinsi

sumber : https://id.wikipedia.org/wiki/Demografi_Indonesia

In [0]:
#import library  urllib
from urllib.request import urlopen
html = urlopen("https://id.wikipedia.org/wiki/Demografi_Indonesia").read()
print(html[0:1000])

b'\n<!DOCTYPE html>\n<html class="client-nojs" lang="id" dir="ltr">\n<head>\n<meta charset="UTF-8"/>\n<title>Demografi Indonesia - Wikipedia bahasa Indonesia, ensiklopedia bebas</title>\n<script>document.documentElement.className="client-js";RLCONF={"wgBreakFrames":!1,"wgSeparatorTransformTable":[",\\t.",".\\t,"],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember"],"wgRequestId":"XsdIJwpAAL8AAhonCxkAAACW","wgCSPNonce":!1,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"Demografi_Indonesia","wgTitle":"Demografi Indonesia","wgCurRevisionId":16739083,"wgRevisionId":15401098,"wgArticleId":8575,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Artikel dengan pernyataan yang tidak disertai rujukan","Artikel dengan pernyataan yang tidak disertai rujukan Juli 2019",'

In [0]:
#import BeautifulSoup
from bs4 import BeautifulSoup
soup = BeautifulSoup(html, "lxml")
print(soup.prettify()[0:1000])

<!DOCTYPE html>
<html class="client-nojs" dir="ltr" lang="id">
 <head>
  <meta charset="utf-8"/>
  <title>
   Demografi Indonesia - Wikipedia bahasa Indonesia, ensiklopedia bebas
  </title>
  <script>
   document.documentElement.className="client-js";RLCONF={"wgBreakFrames":!1,"wgSeparatorTransformTable":[",\t.",".\t,"],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember"],"wgRequestId":"XsdIJwpAAL8AAhonCxkAAACW","wgCSPNonce":!1,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":!1,"wgNamespaceNumber":0,"wgPageName":"Demografi_Indonesia","wgTitle":"Demografi Indonesia","wgCurRevisionId":16739083,"wgRevisionId":15401098,"wgArticleId":8575,"wgIsArticle":!0,"wgIsRedirect":!1,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Artikel dengan pernyataan yang tidak disertai rujukan","Artikel dengan pernyataan yang tidak disertai ru

In [0]:
#buat list-list kosong
kode_bps = []
nama = []
ibu_kota = []
populasi = []
luas = []
pulau = []

#measukan data ke dalam list
data = soup.find("table", {'class': "wikitable sortable"}).find_all("tr")[1:]
for i in data:
    daftar = i.find_all("td")
    kode_bps.append(daftar[0].get_text())
    nama.append(daftar[2].find("a").get_text())
    ibu_kota.append(daftar[4].get_text())
    populasi.append(int(daftar[5].get_text().replace(".","")))
    luas.append(float(daftar[6].get_text().replace(".","").replace(",",".")))
    pulau.append(daftar[8].get_text().replace("\n",""))

In [0]:
#menggabungakan data dalam sebuah dictonary
jumlah_populasi = {
    'Kode BPS' : kode_bps,
    'Nama' : nama,
    'Ibu Kota' : ibu_kota,
    'Populasi' : populasi,
    'Luas km' : luas,
    'Pulau' : pulau,
}

In [0]:
#import pandas
import pandas as pd
df = pd.DataFrame(jumlah_populasi, columns=list(jumlah_populasi.keys()))
df

,Kode BPS,Nama,Ibu Kota,Populasi,Luas km,Pulau
0,11,Aceh,Banda Aceh,4494410,56500.51,Sumatra
1,12,Sumatra Utara,Medan,12982204,72427.81,Sumatra
2,13,Sumatra Barat,Padang,4846909,42224.65,Sumatra
3,14,Riau,Pekanbaru,5538367,87844.23,Sumatra
4,15,Jambi,Jambi,3092265,45348.49,Sumatra
5,16,Sumatra Selatan,Palembang,7450394,60302.54,Sumatra
6,17,Bengkulu,Bengkulu,1715518,19795.15,Sumatra
7,18,Lampung,Bandar Lampung,7608405,37735.15,Sumatra
8,19,Kepulauan Bangka Belitung,Pangkal Pinang,1223296,16424.14,Sumatra
9,21,Kepulauan Riau,Tanjung Pinang,1679163,8084.01,Sumatra
10,31,Daerah Khusus Ibukota Jakarta,Jakarta Pusat,9607787,740.29,Jawa
11,32,Jawa Barat,Bandung,43053732,36925.05,Jawa
12,33,Jawa Tengah,Semarang,32382657,32799.71,Jawa
13,34,Daerah Istimewa Yogyakarta,Yogyakarta,3457491,3133.15,Jawa
14,35,Jawa Timur,Surabaya,37476757,46689.64,Jawa
15,36,Banten,Serang,10632166,9018.64,Jawa
16,51,Bali,Denpasar,3890757,5449.37,Nusa Tenggara
17,52,Nusa Tenggara Barat,Mataram,4500212,19708.79,Nusa Tenggara
18,53,Nusa Tenggara Timur,Kupang,4683827,46137.87,Nusa Tenggara
19,61,Kalimantan Barat,Pontianak,4395983,120114.32,Kalimantan
20,62,Kalimantan Tengah,Palangkaraya,2212089,153564.50,Kalimantan
21,63,Kalimantan Selatan,Banjarmasin,3626616,37530.52,Kalimantan
22,64,Kalimantan Timur,Samarinda,3553143,194849.08,Kalimantan
23,65,Kalimantan Utara,Tanjung Selor,738163,72567.49,Kalimantan
24,71,Sulawesi Utara,Manado,2270596,13930.73,Sulawesi
25,72,Sulawesi Tengah,Palu,2635009,68089.83,Sulawesi
26,73,Sulawesi Selatan,Makassar,8034776,46116.45,Sulawesi
27,74,Sulawesi Tenggara,Kendari,2232586,36757.45,Sulawesi
28,75,Gorontalo,Gorontalo,1040164,12165.44,Sulawesi
29,76,Sulawesi Barat,Mamuju,1158651,16787.19,Sulawesi
30,81,Maluku,Ambon,1533506,47350.42,Maluku
31,82,Maluku Utara,Sofifi,1038087,39959.99,Maluku
32,91,Papua Barat,Manokwari,760422,114566.40,Papua
33,94,Papua,Jayapura,2833381,309934.40,Papua

In [0]:
# 5 Provinsi terpadat di Indonesia
df.sort_values("Populasi", ascending = False, ignore_index = True).head(5)

  Kode BPS           Nama  Ibu Kota  Populasi   Luas km    Pulau
0       32     Jawa Barat   Bandung  43053732  36925.05     Jawa
1       35     Jawa Timur  Surabaya  37476757  46689.64     Jawa
2       33    Jawa Tengah  Semarang  32382657  32799.71     Jawa
3       12  Sumatra Utara     Medan  12982204  72427.81  Sumatra
4       36         Banten    Serang  10632166   9018.64     Jawa

In [0]:
# jumlah popoulasi berdasarkan pulau
df.groupby(['Pulau']).sum().sort_values('Populasi', ascending = False)

                Populasi    Luas km
Pulau
Jawa           136610590  129306.48
Sumatra         50630931  446686.68
Sulawesi        17371782  193847.09
Kalimantan      14525994  578625.91
Nusa Tenggara   13074796   71296.03
Papua            3593803  424500.80
Maluku           2571593   87310.41

In [0]:
#import ke dalam file CSV
df.to_csv("Jumlah_populasi_Indonesia.csv", index=False,encoding='utf', quoting = 1)